section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

#styleContainer {
  width: 100px;
  height: 100px;
  border-style: solid;
}

#addColor, #addText {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 2px lightgrey;
  background-color: rgb(188, 188, 253);
}

#addColor:hover {
  background-color: rgb(153, 153, 207);
  cursor: pointer;
}

.clickButton {
  display: block;
  padding: 5px;
  width: 125px;
  background-color: #ffb6c1;
  border: 1px solid #ffb6c1;
  border-radius: 10px;

  transition: 0.3s ease-in-out;
}

.clickButton:hover {
  background-color: #f6a0ad;
  border: 1px solid black;
}